beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
DictObject==1.1.1
idna==3.7
ImageHash==4.3.1
libmagic==1.0
luckydonald-utils==0.83
numpy==2.1.0
pillow==10.4.0
pytgbot==5.7
python-dotenv==1.0.1
python-magic==0.4.27
PyWavelets==1.7.0
requests==2.32.3
scipy==1.14.0
soupsieve==2.6
urllib3==2.2.2
