beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
DictObject==1.1.1
idna==3.10
ImageHash==4.3.2
libmagic==1.0
luckydonald-utils==0.84
numpy==2.2.3
pillow==11.1.0
pytgbot==5.7
python-dotenv==1.0.1
python-magic==0.4.27
PyWavelets==1.8.0
requests==2.32.3
scipy==1.15.1
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.3.0
